<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            text-align: center;
        }

        #form_div {
            padding: 10px;
            background: #eee;
        }

        .loading_div {
            text-align: center;
            color: #aaa;
        }
    </style>
    <!-- <link rel="stylesheet" href="static/lib/ele.css"> -->
    <!-- <script src="static/lib/vue.min.js"></script> -->
</head>

<body>
    <div id="form_div">
        <label for="">出发城市</label>
        <select name="" id="c1">
            {% for city in city_list %}
            <option value="{{city[0]}}" {% if city[0] == "SHA" %} selected {% endif %} >{{city[1]}}</option>
            {% endfor %}
        </select>
        <label for="">到达城市</label>
        <select name="" id="c2">
            {% for city in city_list %}
            <option value="{{city[0]}}" {% if city[0] == "DLU" %} selected {% endif %} >{{city[1]}}</option>
            {% endfor %}
        </select>
        <label for="">出发日期</label>
        <input type="text" id="start_date" value="">
        <button id="query_btn" onclick="get_tickets()">查询</button>
    </div>
    <div id="data_table">
    </div>
</body>
<script src="static/lib/tpl.js"></script>
<!-- <script src="static/lib/ele.js"></script> -->
<script id="tpl_table" type="text/html">
    <% if (tickets.length==0) { %> <div class='loading_div'>no data</div> <% } else { %>
    <table border=1>
        <tr><th>airline</th><th>航班号</th><th>方式</th><th>出发时间</th><th>到达时间</th><th>价格</th></tr>
        <% for(var i = 0; i < tickets.length; i++){ %>
            <tr>
                <td><%= tickets[i].company %></td>
                <td><%= tickets[i].code %></td>
                <td><%= tickets[i].direct %></td>
                <td><%= tickets[i].time_list[0] %></td>
                <td><%= tickets[i].time_list[1] %></td>
                <td><%= tickets[i].price_list %></td>
            </tr>
        <% } %>
    </table>
    <% } %>
    </script>
<script>
    var c1 = document.querySelector("#c1");
    var c2 = document.querySelector("#c2");
    var start_date = document.querySelector("#start_date");
    var data_table = document.querySelector("#data_table");

    var da = new Date();
    var m = (String(da.getMonth() + 1).length == 1) ? '0' + String(da.getMonth() + 1) : String(da.getMonth() + 1)
    var d = (String(da.getDate() + 1).length == 1) ? '0' + String(da.getDate() + 1) : String(da.getDate() + 1)
    start_date.value = String(da.getFullYear()).substr(2,2) + m + d;

    function get_tickets() {
        data_table.innerHTML = "<div class='loading_div'>loading ...</div>";

        var url = "/tickets?c1=" + c1.options[c1.selectedIndex].value + "&c2=" + c2.options[c2.selectedIndex].value + "&d=" + start_date.value;
        fetch(url, { method: "GET" })
            .then((response) => response.json())
            .then((data) => {
                var html = template('tpl_table', { tickets: data.tickets });
                data_table.innerHTML = html;
            })
            .catch((error) => {
                alert(error.json());
            })
    }
</script>

</html>
